@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.google.com/specimen/Montserrat");

* {
  margin: 0;
  padding: 0;
}

:root {
  /**Primary colors**/
  --dark-cyan: hsl(159, 41%, 27%);
  --very-dark-cyan: hsl(159, 40%, 18%);
  --cream: hsl(30, 38%, 92%);
  /**Neutral colors**/
  --very-Dark-blue: hsl(212, 21%, 14%);
  --dark-greyish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  font-family: "Fraunces", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container {
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  text-align: center;
  width: 90%;
  border-radius: 25px;
  padding-bottom: 10px;
}

img {
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.description-wrapper {
  text-align: left;
  margin: auto;
  width: 80%;
  margin-top: 30px;
}

.caption {
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
}

.title {
  margin-top: 10px;
  line-height: 30px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  line-height: 24px;
  color: hsl(228, 12%, 48%);
}

.price-wrapper {
  margin-top: 20px;
}

.active-price {
  color: hsl(159, 41%, 27%);
  font-size: 25px;
  margin-right: 20px;
}

.deleted-price {
  color: hsl(228, 12%, 48%);
}

.button {
  background-color: hsl(158, 36%, 37%);
  height: 50px;
  color: white;
  width: 90%;
  border-radius: 10px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button-icon {
  width: 16px;
}
